@model IEnumerable<agendae.basea.correo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="form-group">
    <input type="text" class="form-control pull-right" style="width:20%" id="search" placeholder="Type to search table...">
</div>
<table class="table" id="mytable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.correo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persona.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.correo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.persona.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_correo }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_correo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_correo })
        </td>
    </tr>
}

</table>
