@model IEnumerable<agendae.basea.persona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="form-group">
    <input type="text" class="form-control pull-right" style="width:20%" id="search" placeholder="Type to search table...">
</div>

<table class="table" id="mytable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero2)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero2)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_persona }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_persona }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_persona })
        </td>
    </tr>
}

</table>
